<div class="page-content">
    <div class="product-page">
	<div class="product-desc">
		<div class="product-desc-image">
			<img src={{%image%}} width="280" height="320">
		</div>
			<div class="product-details-info">
				<h1>{{%name%}}</h1>
				<h2 style="color: green;">${{%price%}}</h2>
				<div class="product-desc-details">
					<h3">Product Details</h3>
					<p class="product-desc-p">{{%size%}}</p>
					<p class="product-desc-p">{{%camera%}}</p>
					<p class="product-desc-p"><b>Model Number</b>{{%modelNo%}}</p>
					<p class="product-desc-p"><b>Model Name</b>{{%model%}}</p>
					<p class="product-desc-p"><b>ROM</b>{{%ram%}} GB</p>
				</div>
				<div class="product-details-desc">
					<h3>Product Description</h3>
					<p class="product-desc-p">
						{{%des%}}
					</p>
				</div>
			</div>
			<div>
				<a href="/Products" class="btn-back">Back</a>
			</div>
		</div>
	</div>
 </div>